<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<hr>





			<div class="category-carousel swiper">
				<div class="swiper-wrapper">
					{% for product in var_collection %}
						<div class="swiper-slide">
							<div class="swiper-slide-content">
								{% if product.media %}
										{% render 'product-media', media: product.media[0] %}
									{% else %}
										{{ 'product-1' | placeholder_svg_tag }}
								{% endif %}
							</div>
						</div>
						<h4>{{ product.title }}</h4>
						{% endfor %}
					</div>
					<div class="swiper-pagination"></div>

					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
			</div>
		</div>
		<div class="product-information"></div>



<script>
	const $swiper = new Swiper('.swiper', {
		direction: 'horizontal',
		pagination: {
			el: '.swiper-pagination'
		},
		navigation: {
			prevEl: '.swiper-button-prev',
			nextEl: '.swiper-button-next'
		}
	})
</script>
