<section>
	<article class="container-carousel">
		<!-- Swiper -->
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				{%- for product_collection in colection -%}
					<div class="swiper-slide">
						{% if product_collection.media %}
							{% render 'product-media', media: product_collection.media[0] %}
						{% else %}
							{{ 'product-1' | placeholder_svg_tag }}
						{% endif %}
						<h4>{{ product_collection.vendor }}</h4>
						<p>{{ product_collection.title }}</p>
						<h2>{{ product_collection.price | money_without_trailing_zeros  }}</h2>
					</div>
				{%- endfor -%}
			</div>
				<div class="container-buttons-carousel">
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-next"></div>
				</div>
		</div>
	</article>
</section>
