<!-- <h1>{{ section.settings.title }}</h1>

{% for product in section.settings.featured_collection.products %}
	{% render 'carousel', var_product: product %}
{% endfor %}

{% schema %}
{
	"name": "Featured Collection",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"default": "Coleccion destacada",
			"label": "Titulo"
		},
		{
			"type": "collection",
			"id": "featured_collection",
			"label": "Coleccion"
		}
	]
}
{% endschema %} -->