Carousel Products
<h1>{{ section.settings.title_product }}</h1>

{% schema %}
	{
		"name": "Carousel Products",
		"settings": [
			{
				"type": "text",
				"id": "title_product",
				"label": "Ingrese Titulo",
				"default": "Titulo"
			}
		]
	}
{% endschema %}