.hero-container {
	width: 100%;
	margin-bottom: 1.75rem;
}

.hero-body {
	position: relative;
}

.btn-header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	bottom: 2.2rem;
	z-index: 50;
	text-transform: uppercase;
}

.btn-header > a {
	background-color: var(--unnamed-color-ffffff);
	padding: 0.8rem 1.5rem;
	border-radius: var(--unnamed-border-button-4px);
	font-family: var(--unnamed-font-family-poppins);
	font-weight: var(--unnamed-font-weight-600);
}

.hero-body {
	position: relative;
}

picture img {
	width: 100%;
}

@media only screen and (min-width: 750px) {
	.btn-header {
    justify-content: left;
    bottom: 6.5rem;
    left: 8rem;
		width: max-content;
	}

	.hero-container {
		width: 100%;
		margin-bottom: 2.5rem;
	}
}
