:root {
	/* Colors: */
	--unnamed-color-2e292a: #2e292a;
	--unnamed-color-ffffff: #ffffff;
	--unnamed-color-494cd9: #494cd9;
	--unnamed-color-eceef0: #eceef0;
	--unnamed-color-231f20: #231f20;
	--unnamed-color-9b9999: #9b9999;
	--unnamed-color-ff4070: #ff4070;
	--unnamed-color-1d1a1b: #1d1a1b;

	/* Font/text values */
	--unnamed-font-family-open-sans: Open Sans;
	--unnamed-font-family-poppins: Poppins;
	--unnamed-font-style-normal: normal;
	--unnamed-font-weight-100: 100;
	--unnamed-font-weight-200: 200;
	--unnamed-font-weight-300: 300;
	--unnamed-font-weight-400: 400;
	--unnamed-font-weight-500: 500;
	--unnamed-font-weight-600: 600;
	--unnamed-font-weight-700: 700;
	--unnamed-font-weight-normal: normal;
	--unnamed-font-weight-medium: medium;
	--unnamed-font-size-12: 12px;
	--unnamed-font-size-14: 14px;
	--unnamed-font-size-16: 16px;
	--unnamed-font-size-20: 20px;
	--unnamed-font-size-28: 28px;
	--unnamed-font-size-32: 32px;
	--unnamed-font-size-36: 36px;
	--unnamed-font-size-54: 54px;
	--unnamed-character-spacing-0: 0px;
	--unnamed-line-spacing-16: 16px;
	--unnamed-line-spacing-20: 20px;
	--unnamed-line-spacing-24: 24px;
	--unnamed-line-spacing-28: 28px;
	--unnamed-line-spacing-36: 36px;
	--unnamed-line-spacing-42: 42px;
	--unnamed-line-spacing-62: 62px;
	--unnamed-text-transform-uppercase: uppercase;
	--unnamed-decoration-underline: underline;
	--unnamed-decoration-strikethrough: line-through;

	/* Height */
	--unnamed-height-header-movil: 60px;
	--unnamed-height-header-descktop: 116px;
	--unnamed-height-ammouncement: 32px;

	/* Buttons */
	--unnamed-border-button-4px: 4px;

	/* Text-fluid @link https://utopia.fyi/type/calculator?c=320,14,1.2,1366,14,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

	--step--2: clamp(0.61rem, 0.47rem + 0.69vw, 0.96rem);
	--step--1: clamp(0.73rem, 0.55rem + 0.92vw, 1.2rem);
	--step-0: clamp(0.88rem, 0.63rem + 1.22vw, 1.5rem);
	--step-1: clamp(1.05rem, 0.73rem + 1.61vw, 1.88rem);
	--step-2: clamp(1.26rem, 0.84rem + 2.11vw, 2.34rem);
	--step-3: clamp(1.51rem, 0.96rem + 2.77vw, 2.93rem);
	--step-4: clamp(1.81rem, 1.09rem + 3.6vw, 3.66rem);
	--step-5: clamp(2.18rem, 1.24rem + 4.68vw, 4.58rem);
}

/* Normalice */
html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body,
p {
	margin: 0;
}

svg {
	display: initial;
}

.container {
	padding: 1.75rem 1rem;
}

/*  class text-fluid */
.step--2 {
	font-size: var(--step--2);
}

.step--1 {
	font-size: var(--step--1);
}

.step-0 {
	font-size: var(--step-0);
}

.step-1 {
	font-size: var(--step-1);
}

.step-2 {
	font-size: var(--step-2);
}

.step-3 {
	font-size: var(--step-3);
}

.step-4 {
	font-size: var(--step-4);
}

.step-5 {
	font-size: var(--step-5);
}

/* section-announcement-bar */
.ammouncement-bar {
	background-color: var(--unnamed-color-494cd9);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: var(--unnamed-height-ammouncement);
	text-align: left;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-24)
		var(--unnamed-font-family-poppins);
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}

.ammouncement-second-text {
	margin-left: 1ch;
	text-decoration: var(--unnamed-decoration-underline);
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-500)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-24)
		var(--unnamed-font-family-poppins);
}

.announcement-link {
	color: var(--unnamed-color-ffffff);
}

@media only screen and (min-width: 750px) {
	.ammouncement-bar {
		height: 36px;
	}
}

/* Header */

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	height: var(--unnamed-height-header-movil);
	padding: 0 1rem;
}

.header-container-content-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-logo {
	margin-left: 24px;
}

svg {
	fill: var(--unnamed-color-1d1a1b);
	cursor: pointer;
}

svg:hover {
	transform: scale(1.07);
}

.header-container-right-mobile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-desktop-menu-center {
	display: none;
}

.header-container-right-desktop {
	display: none;
}

.header-shop-cart svg:first-child,
.header-search {
	margin-right: 1.5rem;
}

.header-search-desktop {
	display: none;
}

@media only screen and (min-width: 750px) {
	svg {
		fill: var(--unnamed-color-9b9999);
	}

	.container {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: 2.5rem 0.5rem;
	}

	.header-menu-burger {
		display: none;
	}

	.header-container {
		margin: auto;
		height: var(--unnamed-height-header-descktop)	;
		flex-direction: column-reverse;
		justify-content: space-around;
	}

	.header-logo {
		margin-left: 0;
	}

	.header-search {
		display: none;
	}

	.header-search-desktop {
		display: block;
	}

	.header-desktop-menu-center {
		display: block;
		font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
			var(--unnamed-font-size-16) / var(--unnamed-line-spacing-20)
			var(--unnamed-font-family-poppins);
		margin-left: 4rem;
		letter-spacing: 0px;
		text-transform: uppercase;
	}

	.header-desktop-menu-center a {
		color: var(--unnamed-color-1d1a1b);
		/* margin-right: 2rem; */
		text-decoration: none;
	}

	.header-container-right-mobile {
		display: none;
	}

	.header-container-right-desktop {
		color: var(--unnamed-color-9b9999);
		display: flex;
		justify-content: flex-end;
		width: 85vw;
		align-items: center;
		font-size: 14px;
	}

	.header-container-right-desktop svg {
		margin-left: 1.5rem;
		margin-right: 0.5rem;
	}

	.header-container-left {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	.button-search {
		width: 13vw;
		height: 48px;
		padding: 0 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 4px;
		border: 1px solid #afadad;
	}

	.button-search p {
		font: var(--unnamed-font-style-normal) normal
			var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
			var(--unnamed-line-spacing-24) var(--unnamed-font-family-open-sans);
		color: var(--unnamed-color-9b9999);
	}
}

/********************** Modal movil ***********************/

.modal-movil {
	transition: all 5s ease;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: calc(100vh - 32px);
	background-color: var(--unnamed-color-ffffff);
	z-index: 100;
}

.modal-movil.is-active {
	display: block;
	overflow: auto;
}

.overflow {
	overflow: hidden;
}

.logo > svg {
	fill: var(--unnamed-color-494cd9) !important;
}

.modal-movil-top {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1.5rem;
}

.modal-movil-medium {
	margin: 1rem 0;
	border-bottom: 2px solid var(--unnamed-color-9b9999);
}

.menu {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
		var(--unnamed-font-size-16) / var(--unnamed-line-spacing-20)
		var(--unnamed-font-family-poppins);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-1d1a1b);
}

.menu-link-parent > a {
	cursor: pointer;
	padding: 1rem 1.5rem;
}

.link-parent {
	width: 100%;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.menu-link-parent:hover {
	background-color: var(--unnamed-color-9b9999);
}

.modal-movil-bottom {
	margin: 1rem 1.5rem;
	display: flex;
	flex-direction: column;
}

.item-modal-botton {
	display: flex;
}

.item-modal-botton {
	padding: 1rem 0;
	color: var(--unnamed-color-9b9999);
	cursor: pointer;
}

.item-modal-botton svg {
	fill: var(--unnamed-color-9b9999);
	margin-right: 1rem;
}

.ammouncement-bar.is-modal {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999;
}

.dropdown-child:hover {
	display: block;
}

.dropdown-menu li {
	padding: 1rem 0;
	text-transform: uppercase;
	color: var(--unnamed-color-231f20);
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown2 button {
	text-transform: uppercase;
}

.dropdown2 li a {
	padding-left: 2.5rem;
}

.dropdown2:hover .dropdown-menu2 {
	display: block;
}

.submenu {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
	bottom: 0;
	width: 100%;
	background-color: var(--unnamed-color-ffffff);
	z-index: 100;
	left: -100vw;
	transition: left 0.3s ease-out;
}

.top-submenu {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-poppins);
}

.top-submenu-left svg {
	margin-right: 1.5rem;
}

/* base-details-summary */
details {
	width: 100%;
}

summary {
	cursor: pointer;
	list-style: none;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

summary::-webkit-details-marker {
	display: none;
}

@media (min-width: 768px) {
  .modal-movil.is-active {
    display: none;
  }
}



/********************** PAGINATION ***********************/

.pagination {
	display: flex;
	justify-content: center;
}

.pagination > span {
	background-color: var(--unnamed-color-9b9999);
}

.pagination > a,
.pagination > span {
	margin: 2rem 0.75rem;
	margin: 0 0.25rem;
	border: 1px solid var(--unnamed-color-2e292a);
	padding: 0.5rem ;
	border-radius: var(--unnamed-border-button-4px);
	font-size: var(--unnamed-font-size-14);
	font-weight: var(--unnamed-font-weight-600);
	text-align: center;
	align-self: center;
}

.pagination a:hover {
	color: var(--unnamed-color-eceef0);
	background-color: var(--unnamed-color-9b9999);
}